/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <180>; };

/ {
    behaviors {
        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | SHFT |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | DEL  |
            //                    | ESC | LWR | SPC |   | ENT | RSE  | GUI |

            label = "Alpha";
            bindings = <
&kp TAB     &kp Q               &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I         &kp O    &kp P            &kp BSPC
&kp CAPS    &hrm LSHFT A        &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K         &kp L    &hrm LSHFT SEMI  &kp SINGLE_QUOTE
&bt BT_NXT  &mt LEFT_CONTROL Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA     &kp DOT  &kp SLASH        &kp K_SLEEP
                                       &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp LEFT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Fn + Num";
            bindings = <
&trans      &kp K_MUTE         &kp KP_NUMLOCK  &kp UP_ARROW      &trans      &kp LEFT_PARENTHESIS     &kp ASTERISK   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS      &kp BSPC
&kp LSHFT   &kp K_VOLUME_UP    &kp LEFT        &kp DOWN          &kp RIGHT   &kp RIGHT_PARENTHESIS    &kp KP_DIVIDE  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_SUBTRACT  &kp ESC
&kp LA(F4)  &kp K_VOLUME_DOWN  &kp K_PREV      &kp K_PLAY_PAUSE  &kp K_NEXT  &kp PRINTSCREEN          &kp EQUAL      &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_DOT       &to 4
                                               &kp LA(TAB)       &trans      &kp LG(D)                &kp RET        &kp KP_NUMBER_0  &kp KP_COMMA
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Symbol";
            bindings = <
&trans  &kp F1         &kp F2   &kp F3    &kp F4   &kp MINUS        &kp EXCL   &kp AT         &kp HASH       &kp DOLLAR        &kp PERCENT        &trans
&trans  &hrm LSHFT F5  &kp F6   &kp F7    &kp F8   &kp PAGE_UP      &kp CARET  &kp AMPERSAND  &kp ASTRK      &kp LESS_THAN     &kp GREATER_THAN   &trans
&trans  &kp F9         &kp F10  &kp F11   &kp F12  &kp PAGE_DOWN    &kp GRAVE  &kp APOS       &kp BACKSLASH  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
                                &kp LGUI  &mo 3    &kp SPACE        &kp RET    &trans         &kp LEFT_ALT
            >;
        };

        media_bt {
            label = "Media/BT";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3   &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &none         &kp C_PREV    &kp C_PLAY_PAUSE  &kp C_NEXT     &none           &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &soft_off         &kp C_SHUFFLE  &none           &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans            &trans         &trans          &trans  &trans  &trans
            >;
        };

        Game_0 {
            label = "Game";
            bindings = <
&kp ESCAPE  &kp TAB           &kp Q  &kp W         &kp E  &kp R        &kp Y      &kp U         &kp I      &kp O       &kp P          &kp T
&kp GRAVE   &kp LEFT_SHIFT    &kp A  &kp S         &kp D  &kp F        &kp H      &kp J         &kp K      &kp L       &kp SEMICOLON  &kp G
&kp B       &kp LEFT_CONTROL  &kp Z  &kp X         &kp C  &kp V        &kp N      &kp M         &kp COMMA  &kp PERIOD  &kp SLASH      &kp CLCK
                                     &kp LEFT_ALT  &mo 5  &kp SPACE    &kp ENTER  &kp LEFT_GUI  &to 0
            >;
        };

        Game_1 {
            label = "Game Asc";
            bindings = <
&kp ESCAPE  &kp NUMBER_1  &kp NUMBER_2  &trans  &kp NUMBER_3  &kp NUMBER_4    &kp F1          &kp F2    &kp F3        &kp F4     &kp F5            &kp F6
&kp M       &kp N5        &trans        &trans  &trans        &kp NUMBER_6    &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp L       &trans        &kp N7        &kp N8  &kp N9        &kp N0          &kp F7          &kp F8    &kp F9        &kp F10    &kp F11           &kp F12
                                        &trans  &trans        &trans          &trans          &trans    &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
